* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;  
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(61, 5, 82, 0.769);
} 
.main-card{ 
    padding: 1rem;
    display: flex; 
    gap: 1rem;
}
 