.card {
  height: 400px;
  width: 300px;
  border-radius: 30px;
  background-color: #fff;
  padding: 20px 22px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.3s ease;box-shadow: 0 2px 10px rgba(32, 128, 238, 0.4);
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(178, 220, 240, 0.6);
}
.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.card .top img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #fcfcfc;
  padding: 5px;
  border: 1px solid rgb(134, 134, 134);
}
.top button {
  border: 1px solid #D1D1D1;
  padding: 5px;
  background-color: #fcfcfc;
  color: #aaaaaa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  font-weight: 500;
}
.top button:hover{
  color: #000;
  border-color: #242424;
}
.center {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: baseline;
}
.center h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.center h3 span {
  color: #999;
  font-size: 0.7rem;
}
.center h2 {
  font-size: 1.3rem;
  font-weight: 600;
  white-space: nowrap;
}
.center .period {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.period p {
  padding: 5px 7px;
  border-radius: 6px;
  color: #242424;
  font-weight: 500;
  background-color: #eeeeee;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  border-top: 1px solid #C6C6C6;
  padding-top: 1rem;
}
.bottom button{
  padding: 9px;
  background-color: #000;
  color: #fff;
  outline: none;
  border-radius: 7px;
  border: none;
}
.bottom .details p{
  color: #9c9b9b;
}