* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}
