*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html , body{
  height: 100%;
  width: 100%;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 10px 20px;
}
h1{
  background-color: gainsboro;
  width: fit-content;
  font-size: 2rem; 
}
.box input , button{
  padding: 4px 6px;
  margin: 20px;
}
