h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 25px;
  background-color: aqua;
}
input{
  min-width: 50%;
}

.items-container{
  text-align: left;
  color: white;
}

.my-row{
  margin: 7px 3px;
}

.my-button{
   min-width: 80px;
}