*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; 
  color: #fff;
} 

html ,body { 
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  background-color: #222;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid white;
  margin: 20px 12px;
  padding: 20px;
  text-align: center;
}
.card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #fff;
  color: #111; 
  border: none;
  outline: none;  
}
.nav{
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
}
